In [5]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
#New Variable
from dateutil.relativedelta import *
from datetime import *

In [6]:
df = pd.read_csv("student-data.csv")  
def get_age(dob):
    now = datetime.now()
    age = relativedelta(now, dob).years
    return age

                name         dob  age is_student  target
0      Thomas Crosby  1996-07-16   27      False  809.97
1     Brandon Reeves  1957-11-30   66      False  866.41
2     Maria Castillo  1981-02-03   43      False  776.92
3        Carol Jones  1990-09-17   33       True  929.72
4    Robert Thompson  1967-06-09   56       True  923.66
..               ...         ...  ...        ...     ...
99      Barbara Ford  1975-01-23   49      False  937.97
100   Maria Castillo  1981-02-03   43      False  776.92
101      Edward Hood  1984-01-10   40      False  975.77
102    Jeffrey Smith  1996-09-29   27      False  996.08
103   Hayley Hoffman  1958-06-23   65      False  825.04

[104 rows x 5 columns]

In [8]:
df['age'] = pd.to_datetime(df['dob']).apply(get_age)

data = df.filter(['name','dob','age','is_student','target'])

In [9]:
print(data)

                name         dob  age is_student  target
0      Thomas Crosby  1996-07-16   27      False  809.97
1     Brandon Reeves  1957-11-30   66      False  866.41
2     Maria Castillo  1981-02-03   43      False  776.92
3        Carol Jones  1990-09-17   33       True  929.72
4    Robert Thompson  1967-06-09   56       True  923.66
..               ...         ...  ...        ...     ...
99      Barbara Ford  1975-01-23   49      False  937.97
100   Maria Castillo  1981-02-03   43      False  776.92
101      Edward Hood  1984-01-10   40      False  975.77
102    Jeffrey Smith  1996-09-29   27      False  996.08
103   Hayley Hoffman  1958-06-23   65      False  825.04

[104 rows x 5 columns]