#Lab 2.1 : Data Cleaning

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('employees.csv')
print("Original Data")
print(data[0:25])

Original Data
   First Name  Gender    Salary  Bonus %                  Team
0     Douglas    Male   97308.0    6.945             Marketing
1     Douglas    Male   97308.0    6.945             Marketing
2     Douglas    Male   97310.0    6.945             Marketing
3      Thomas    Male   61933.0    4.170                   NaN
4       Maria  Female  130590.0   11.858               Finance
5       Jerry    Male  138705.0    9.340                   Fin
6       Larry    Male       NaN    1.389       Client Services
7      Dennis    Male  115163.0   10.125                 Legal
8        Ruby  Female   65476.0   10.012               Product
9         NaN  Female   45906.0   11.598                   Fin
10     Angela  Female   95570.0   18.523           Engineering
11      Maria  Female  130590.0   11.858               Finance
12    Frances  Female  139852.0    7.524  Business Development
13     Louise  Female   63241.0   15.132                   NaN
14      Julie  Female  102508.0   12.637                 Legal
15    Brandon    Male  112807.0   17.492       Human Resources
16       Gary    Male  109831.0    5.831                 Sales
17   Kimberly  Female       NaN   14.543               Finance
18    Lillian  Female   59414.0    1.256               Product
19     Jeremy    Male   90370.0    7.369       Human Resources
20      Shawn    Male  111737.0    6.414               Product
21      Diana  Female  132940.0   19.082       Client Services
22      Donna  Female   81014.0    1.894               Product
23       Lois     NaN   64714.0    4.934                 Legal
24    Matthew    Male  100612.0   13.645                   Mkt

In [3]:
# Removing missing values
data=data.dropna(axis=0)

In [4]:
# Removing column Boonus %
del data['Bonus %']

In [5]:
# Correcting Inconsitencies among values
data['Team']=data['Team'].str.replace('Fin','Finance')
data['Team']=data['Team'].str.replace('Mkt','Marketing')
data['Team']=data['Team'].str.replace('Financeance','Finance')

In [6]:
print("Cleaned Data")
print(data[0:25])

Cleaned Data
   First Name  Gender    Salary                  Team
0     Douglas    Male   97308.0             Marketing
1     Douglas    Male   97308.0             Marketing
2     Douglas    Male   97310.0             Marketing
4       Maria  Female  130590.0               Finance
5       Jerry    Male  138705.0               Finance
7      Dennis    Male  115163.0                 Legal
8        Ruby  Female   65476.0               Product
10     Angela  Female   95570.0           Engineering
11      Maria  Female  130590.0               Finance
12    Frances  Female  139852.0  Business Development
14      Julie  Female  102508.0                 Legal
15    Brandon    Male  112807.0       Human Resources
16       Gary    Male  109831.0                 Sales
18    Lillian  Female   59414.0               Product
19     Jeremy    Male   90370.0       Human Resources
20      Shawn    Male  111737.0               Product
21      Diana  Female  132940.0       Client Services
22      Donna  Female   81014.0               Product
24    Matthew    Male  100612.0             Marketing
27       John    Male   97950.0       Client Services
29      Craig    Male   37598.0             Marketing
31      Terry    Male  124008.0       Client Services
32   Benjamin    Male   79529.0                 Legal
33  Christina  Female  118780.0           Engineering
36       Jean  Female  119082.0  Business Development

In [7]:
data.to_csv('employees_cleaned.csv', index=False)
print("Successfully Cleaned...")

Successfully Cleaned...